@use '@angular/material' as mat;
@import './fonts/fonts.scss';

@include mat.core();

$my-primary: (
  50: red,
  100: #b3b3b3,
  200: #808080,
  300: #4d4d4d,
  400: #262626,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #a6a6a6,
  A200: #8c8c8c,
  A400: #737373,
  A700: #666666,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$my-accent: (
  50: #fffde0,
  100: #fffab3,
  200: #fff680,
  300: #fff24d,
  400: #fff026,
  500: #ffed00,
  600: #ffeb00,
  700: #ffe800,
  800: #ffe500,
  900: #ffe000,
  A100: #ffffff,
  A200: #fffdf2,
  A400: #fff6bf,
  A700: #fff3a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$my-theme-primary: mat.m2-define-palette($my-primary);
$my-theme-accent: mat.m2-define-palette($my-accent);
$my-theme-warn: mat.m2-define-palette(mat.$m2-red-palette);
$my-theme: mat.m2-define-light-theme((
  color: (
    primary: $my-theme-primary,
    accent: $my-theme-accent,
    warn: $my-theme-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($my-theme);

body * {
  font-family: 'Open Sans';

  i.fas {
    font-family: 'Font Awesome';
    font-weight: 700;
  }

  i.fab {
    font-family: 'Font Awesome Brands';
  }
}
